#loginSignupContainer {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color:rgb(236, 236, 236);
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url("./loginbg.avif");
  }
  .box {
    background-color: rgba(159, 195, 249, 0.8); /* Faint background color */
    border-radius: 10px; /* Add border radius */
    padding: 20px; /* Add padding */
  }
  
  
  .container {
    display: flex;
    flex-direction: column;
    width: 550px;
    text-align: center;
    
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
    align-items: center;
  }


  
  #actionText {
    color: #591a2e;
    font-size: 48px;
    font-weight: 700;
  }
  
  .underline {
    width: 61px;
    height: 6px;
    background: #621b2c;
    border-radius: 9px;
  } 
  
  .input {
    display: flex;
    align-items: center;
    margin: auto;
    padding-left: 3%;
    width: 400px;
    height: 60px;
    background: whitesmoke;
    border-radius: 6px;
    margin-top: 35px;
    margin-bottom: 20px;
  }

  #nameInput input::placeholder {
    text-align: left; /* Change the alignment of the placeholder text for the name input */
  }
  
  #emailInput input::placeholder {
    text-align: left; /* Change the alignment of the placeholder text for the email input */
  }
  
  #passwordInput input::placeholder {
    text-align: left; /* Change the alignment of the placeholder text for the password input */
  }
  
  
  .input img {
    margin: 0px 30px;
  }
  
  .input input {
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #676767;
    font-size: 19px;
  }
  
  #forgotPassword {
    padding-left: 62px;
    margin-top: 27px;
    color: #1B9AAA;
    font-size: 18px;
  }
  
  #forgotPassword span {
    color: #1B9AAA;
    cursor: pointer;
  }
  
  .submit-container {
    display: flex;
    gap: 30px;
    margin: 60px auto;
  }

  
  
  .submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: rgb(254, 254, 254);
    background-color: #8b57fd;
    border-radius: 19px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
  }
  
  .gray {
    background: #eaeaea;
    color: #676767;
  }
  