.hero {
  width: 100%;
  height: 300vh;
  background-image: linear-gradient(156deg, #f4efdb 2%, #e9e5d1 2%, #a5a294 49%, #8e8b7f 100%);
}
.h_Section{
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.herotitle{
  font-size: 4.5rem;
  color: #000000;
  text-align: center;
  font-family: fantas;
  letter-spacing: 2px;
  border-radius: 6px;
  transition:
  width 2s,
  height 2s,
  background-color 2s,
  rotate 2s;
}
.Hbar{
  width: 100%;
  height: 10rem;
  background-color: #8e8b7f;
  display: flex;
}
.Hbar_icons {
  width: 20%;
  height: 50%;
  margin-top: 2.7%;
  color: #222222;
}

.h_section_titles{
  width: 85%;
  height: 60%;
  margin-top: 10%;
}
.herosubtitle{
  font-size: 1.5rem;
  color: #000000;
  text-align: center;
  font-family: fantas;
  letter-spacing: 1px;
  display: flex;
  margin-left: 28%;
  margin-top: 3%;
  flex-direction: c;
  text-align: center;
  animation: move 16s infinite;
}
.herobtn{
  align-items: center;
  margin-left: 36%;
  margin-top: 4%;
  display: inline-flex;

}
.btnbox{
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.btnname{
  color:#ffffff;
  padding: 0.8rem 1.6rem;
  font-family: fantas;
  font-weight: 80;
  font-size: 1.5rem;
}
.btn {
  border: 2px solid black;
  display: inline-block;
  background-color: transparent;
  color: black;
  margin: 0.5rem;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  font-size: 20px;
  font-family: fantas;
  cursor: pointer;
}
.info {
  border-color: #2196F3;
  display: inline-block;
  font-size: 1.15rem;
  color: rgba(161, 110, 255,80%)
}
.btn:hover{
  background-color: #222222;
  color: #ffffff;
}

