.SignIn{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(156deg, #f4efdb 2%, #e9e5d1 2%, #a5a294 49%, #8e8b7f 100%);
}
.SI_inncomp{
    width: 85%;
    height: 90vh;
    margin-left: 5%;
    padding-top: 5%

}
/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.new-container{
  position: relative;
  max-width: 850px;
  width: 100%;
  margin-left: 22%;
  margin-bottom: 8%;
  background: #fff;
  padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  perspective: 2700px;
}
.new-container .new-cover{
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  z-index: 98;
  transition: all 1s ease;
  transform-origin: left;
  transform-style: preserve-3d;
}
.new-container #new-flip:checked ~ .new-cover{
  transform: rotateY(-180deg);
}
 .new-container .new-cover .new-front,
 .new-container .new-cover .new-back{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.new-cover .new-back{
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
.new-container .new-cover::before,
.new-container .new-cover::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: #7d2ae8;
  opacity: 0.5;
  z-index: 12;
}
.new-container .new-cover::after{
  opacity: 0.3;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
.new-container .new-cover img{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 10;
}
.new-container .new-cover .new-text{
  position: absolute;
  z-index: 130;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.new-cover .new-text .text-1,
.new-cover .new-text .text-2{
  font-size: 26px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
.new-GGlogo{
  width: 50%;
  height: 3rem;
  display: flex;
  margin-top: 2%;
  margin-left: 25%;
}
.new-LGlogo{
  margin-top: 7%;
  width: 100%;
  height: 90%;
}
.new-Glogo{
  width: 50%;
  height: 100%;
}
.new-cover .new-text .text-2{
  font-size: 15px;
  font-weight: 500;
}
.new-container .new-forms{
  height: 100%;
  width: 100%;
  background: #fff;
}
.new-container .new-form-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.new-form-content .new-login-form,
.new-form-content .new-signup-form{
  width: calc(100% / 2 - 25px);
}
.new-forms .new-form-content .new-title{
  position: relative;
  font-size: 24px;
  font-weight: 500;
  color: #333;
}
.new-forms .new-form-content .new-title:before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 25px;
  background: #7d2ae8;
}
.new-forms .new-signup-form  .new-title:before{
  width: 20px;
}
.new-forms .new-form-content .new-input-boxes{
  margin-top: 30px;
}
.new-forms .new-form-content .new-input-box{
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}
.new-form-content .new-input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}
.new-form-content .new-input-box input:focus,
.new-form-content .new-input-box input:valid{
  border-color: #7d2ae8;
}
.new-form-content .new-input-box i{
  position: absolute;
  color: #7d2ae8;
  font-size: 17px;
}
.new-forms .new-form-content .new-text{
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
.new-forms .new-form-content .new-text a{
  text-decoration: none;
}
.new-forms .new-form-content .new-text a:hover{
  text-decoration: underline;
}
.new-forms .new-form-content .new-button{
  color: #fff;
  margin-top: 40px;
}
.new-forms .new-form-content .new-button input{
  color: #fff;
  background: #7d2ae8;
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}
.new-forms .new-form-content .new-button input:hover{
  background: #5b13b9;
}
.new-forms .new-form-content label{
  color: #5b13b9;
  cursor: pointer;
}
.new-forms .new-form-content label:hover{
  text-decoration: underline;
}
.new-forms .new-form-content .new-login-text,
.new-forms .new-form-content .new-sign-up-text{
  text-align: center;
  margin-top: 25px;
}
.new-container #new-flip{
  display: none;
}
@media (max-width: 730px) {
  .new-container .new-cover{
    display: none;
  }
  .new-form-content .new-login-form,
  .new-form-content .new-signup-form{
    width: 100%;
  }
  .new-form-content .new-signup-form{
    display: none;
  }
  .new-container #new-flip:checked ~ .new-forms .new-signup-form{
    display: block;
  }
  .new-container #new-flip:checked ~ .new-forms .new-login-form{
    display: none;
  }
}
